<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rediriger les URLs avec .html vers les URLs propres -->
                <rule name="Redirect HTML Extensions" stopProcessing="true">
                    <match url="^(.*)\.html$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^GET$" />
                    </conditions>
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Réécrire les URLs propres vers les fichiers .html -->
                <rule name="Rewrite to HTML" stopProcessing="true">
                    <match url="^([^/.]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(essential|business|enterprise|contact)/?$" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}.html" />
                </rule>
                
                <!-- Page d'accueil -->
                <rule name="Homepage" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Configuration du cache -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        
        <!-- Compression -->
        <httpCompression>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
            </staticTypes>
        </httpCompression>
        
        <!-- Pages d'erreur -->
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        
        <!-- Sécurité -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="config.php" />
                    <add segment=".htaccess" />
                    <add segment="web.config" />
                    <add segment="README.md" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".md" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>