/* ============================================
   Accessi-web - Main Stylesheet
   ============================================ */

/* Base */
@import url('variables.css');
@import url('reset.css');
@import url('typography.css');

/* Components */
@import url('components/section.css');
@import url('components/navbar.css');
@import url('components/footer.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/forms.css');
@import url('components/hero.css');
@import url('components/a11y-toolbar.css');

/* Pages */
@import url('pages/home.css');
@import url('pages/offers.css');
@import url('pages/contact.css');
@import url('pages/blog.css');
@import url('pages/about.css');
@import url('pages/simulator.css');
@import url('pages/error.css');

/* Utilities */
@import url('utilities/accessibility.css');
